.articleDetail{
    position: relative;
    width: 84%;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 10px;
    border: 2px solid rgb(166, 156, 156);
    border-radius: 6px;
    .articleDetailTitle{
        color: rgb(207, 204, 204);
    }
    .articleDetailInfo{
        font-size: 26px;
        color: rgb(207, 204, 204);
        .articleDetailIcon{
            margin-left: 10px;
        }
    }
    .articleDetailIntroduce{
        border: 2px solid rgb(196 216 219 / 66%);
        border-radius: 6px;
        background-color: rgb(208 222 224 / 66%)
    }
    .articleDetailContent{
        margin-top: 10px;
        color: rgb(207, 204, 204);
        white-space: pre-wrap;
    .codeBlock{
        background: #282a36;
        display: block;
        color: rgb(99, 57, 99);
        width: 80%;
        margin: 4px;
    }
    }
}