@import "../main.less";
@keyframes menuchange {
    0%{
        font-size: 18px;
    }
    100%{
        font-size: 22px;
    }
    
}
@keyframes logoStart {
    0%{
        color:#7f2e7d;
    }
    100%{
        color:#6b346a;
    }
    
}
@keyframes logoClick {
    0%{
        color:#6b346a;
    }
    100%{
        color:#db5f3a;
    }

    
}
.header{
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    background-color: rgba(19, 18, 18, 0.915);
    .headerLeft{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        .logo{
            width:30%;
            height: 100%;
            font-family: Vemanem;
            padding: 4px;
            font-size: 32px;
            color:#68013f;
            cursor: pointer;
            animation: logoStart 0.5s 1;
            animation-fill-mode:forwards;//forwards表示当执行完动画以后保持100%动画时的样式
            :hover{
                animation: logoClick 0.5s 1;
                animation-fill-mode:forwards;//forwards表示当执行完动画以后保持100%动画时的样式  
            }
        }
        .menu{
            width:70%;
            height: 100%;
            display: flex;
            justify-content: left;
            text-align: center;
            div{
                height: 100%;
                flex-grow: 1;
                a{
                    line-height: 52px;
                    color: aliceblue;
                    font-size: 16px;
            }
            a:hover{
                color:#6b346a;
                animation: menuchange 0.5s 1;
                animation-fill-mode:forwards;//forwards表示当执行完动画以后保持100%动画时的样式
            }
            }

        }
    }
    .headerRight{
        width: 60%;
        height: 100%;
        .userForm{
            height: 100%;
            width: 40%;
            float: right;
        }
    }
}
.aboutMe{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: rgba(19, 18, 18, 0.915);
    text-align: center;
    font-size: 18px;
    color: rgb(183, 181, 181);
    .visitNum{
        position: absolute;
        bottom: 10px;
        right: 24px;
        span{
            color:#f0ce72;
        }
    }
}
.noticeBg{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #131113da;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    .noticeContent{
        position: relative;
        padding: 15px;
        width: 64vh;
        height: 82vh;
        background: #2b2a2a;
        color: rgb(125, 129, 133);
        .mainContent{
            height: 90%;
            background: #2b2a2a;
            overflow-y: scroll;         
        }
        ::-webkit-scrollbar {
            width: 2px; /* 竖向滚动条宽度 */
            height: 6px; /* 横向滚动条高度 */
          }
        .noticeFunc{
            position: absolute;
            width: 100%;
            bottom: 20px;
            .closeNotice{
                margin: 0 auto;
                display: block;
                height: 30px;
                width: 60px;
                font-weight: 600;
                line-height: 26px;
                font-size: 18px;
                background: #a8a3a3;
                border: 0.5px solid #a8a3a3;
                border-radius: 6px;
                cursor: pointer;
            }
            .closeNotice:hover{
                color:#ddd9d9 ;
                box-shadow: 1px -1px 2px #bbb8b8;
            }
        }
    }
}