.albumHeader{
    font-size: 26px;
    padding: 10px;

}
.pictureshow{
    width: 84%;
    margin: 0 auto;
    .ant-image{
        margin: 4px;
    }
}
.ant-image-preview-mask{
    z-index: 10000;
    background-color: rgb(6 6 6 / 80%);
}
.ant-image-preview-wrap{
    z-index: 10000;
}